body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
    display: block;
    font-size: 18px;
}

main{
    display: flex;
    margin: auto;
    max-width: 950px;
    
}

footer{
    background-color: #2C323D;
    color: #FDFEFE;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 950px;
    max-height: 70px;
    margin: auto;
    
}

a{
    color: #FDFEFE;
}

.left{
    color: #FDFEFE;
    background: #2C323D;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 350px;
}

.left__icon{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.left__icon__img{
    border-radius: 120px;
}

.left__contacts{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-left: 15%;
}

.left__education{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;
    margin-right: 15%;
}

.left__language{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;
}

.right{
    color: #34495E;
    background: #FDFEFE;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    max-width: 600px;
}

.right__about{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    margin-right: 5%;
}

.right__strengths{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}

.right__skills{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}

.right__experience{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}

.right__code{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    
}

.right-experience__link{
    color: #2C323D;
}
